body{
    font-family: 'Courier New', Courier, monospace;
}
.top-banar{
    background-image:url( donation13.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    color: white;
    text-align: center;
    padding: 20px;
}
.h1{font-size: 50px;}
.a{background-color: rgb(36, 36, 158);
color: red;
padding: 5px;
border-radius: 10px;
font-size: 15px;

}
 .second-section{
    text-align: center;
 }
 .pack{
display: flex;
background-color: white;
margin-left: 10%;
margin-right: 10%;
text-align: center;
justify-content: center;
 }
 .payment{
background-color: white;
width: 100px;
line-height: 75px;
margin: 10px;
text-align: center;
font-weight: 600;
 }
 #payment{
border: 3px solid tomato;
background-color: bisque;
color: tomato;
width: 100px;
line-height: 75px;
margin: 10px;
text-align: center;
font-weight: 600;
 }
.a1{
    text-align: center;
}
.third-section{
    text-align: center;
}