body{
    font-family: 'Courier New', Courier, monospace;
}
.top-banar{
    background-image:url( donation13.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100%;
    color: white;
    text-align: center;
    padding: 20px;
  
}
.a{background-color: rgb(36, 36, 158);
    color: red;
    padding: 5px;
    border-radius: 10px;
    font-size: 15px;}
.h1{font-size: 50px;}

 .second-section{
    text-align: center;
 }
 .pack{
display: flex;
background-color: white;
margin-left: 10%;
margin-right: 10%;
text-align: center;
justify-content: center;
 }
 .payment{
background-color: white;
width: 100px;
line-height: 75px;
margin: 10px;
text-align: center;
font-weight: 600;
 }
 #payment{
border: 3px solid tomato;
background-color: bisque;
color: tomato;
width: 100px;
line-height: 75px;
margin: 10px;
text-align: center;
font-weight: 600;
 }
.a1{
    text-align: center;
}
.third-section{
    text-align: center;
}
.medle-bottom{
    text-align: center;
}
.box{display: flex;
justify-content: center;
background-color: #f8eeba;
margin-right: 15%;
margin-left: 15%;
margin-top: 70px;
padding: 40px;
margin-bottom: 80px;
}
.email{
font-size: 17px;
border: none;
color: black;
padding: 5px;
}
.button{
font-size: 17px;
color: black;
background-color: tomato;
padding: 5px;
border: none;
border-radius: 10px;
margin-left: 0;
padding-left: 40px;
padding-right: 40px;
}
footer{
    background-color: black;
    padding: 50px;
}
#footer-h2{
text-align: center;
color: tomato;
}
#ending{
text-align: center;
color: gold;
}